.modal {
  max-width: 400px;
  width: 90%;
  margin: 10% auto;
}

.header {
  display: flex;
  flex-wrap: wrap;
}
.image {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
}
.detailColumn {
  display: flex;
  flex-grow: 1;
  max-width: 100%;
}
.details {
  align-self: flex-end;
  & h6 {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;

    /* identical to box height */

    color: #2b416c;
  }
  & span {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;

    color: #9ca2b7;
  }
}

.pricingWrapper {
  margin-top: 30px;
}

.pricingRow {
  margin-top: 20px;
}
.timePeriod {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;

  /* identical to box height, or 150% */

  color: #7788a3;
}
.price {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */
  text-align: right;
  color: #556789;
}
.button {
  border: 2px solid #181b34;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;

  /* identical to box height */
  text-align: center;

  color: #181b34;
  display: block;
  margin: auto;
  padding: 10px 20px;
  background: #fff;
}
