.heading {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 50px;
  margin-bottom: 40px;
}

.wrapper {
  padding-top: 40px;
}

@media (max-width: 640px) {
  .wrapper {
    padding-top: 20px;
  }
  .heading {
    font-size: 28px;
    margin-bottom: 10px;
  }
}
