.headings {
  background: #f1f1f4;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  padding: 0px 20px;
  /* identical to box height, or 150% */
  text-transform: uppercase;

  color: #556789;
  & div {
    padding: 12px 0px;
  }
}

.row {
  border-bottom: 1px solid #ececec;
  padding: 25px 20px;
}

.action {
  display: inline-block;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  margin-right: 40px;
  cursor: pointer;
  & img {
    margin-right: 5px;
  }
}

.campaignImage {
  display: block;
  float: left;
  margin-right: 15px;
}
.campaignDetails {
  float: left;
}
.campaignCountry {
  font-style: italic;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;

  color: #9ca2b7;
}
.campaignName {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}

.date {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;

  /* identical to box height, or 150% */

  color: #2b416c;
}
.moment {
  font-style: italic;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;

  /* identical to box height, or 171% */

  color: #7788a3;
}

@media (min-width: 993px) {
  .table {
    margin-top: 40px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  }
}
@media (max-width: 992px) {
  .row {
    padding: 25px 20px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    margin-top: 40px;
  }
  .headings {
    display: none;
  }
  .campaignDetailsColumn {
    padding: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  .dateColumn {
    padding: 10px;
  }
  .priceColumn {
    padding: 10px;
  }
  .actionColumn {
    padding: 10px;
  }
}
