.tabWrapper {
  border-bottom: 1px solid #f1f1f4;
}

.tab {
  display: inline-block;
  float: left;

  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  border-bottom: 4px solid #fff;
  cursor: pointer;
  color: #556789;
  padding: 10px 15px;
  margin-right: 5px;
  &.active {
    color: #83a515;
    border-color: #83a515;
  }
}
